.btn-result{
    -fx-background-radius: 3;
    -fx-text-fill: #fff;
    -fx-background-color: linear-gradient(to right bottom, #329d9c, #56c596);
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.btn-result:pressed{
    -fx-translate-y: 2px;
}
.btn-result:hover{
    -fx-background-color: linear-gradient(to left bottom, #329d9c, #56c596);
}
.view{
    -fx-border-radius: 5px;
}
.text-field{
    -fx-border-color: #ccc;
}